{% extends "app/index.html" %}
{% load staticfiles %}

{% block body_document %}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>My Custom Certificates</h1>

        {{ form.non_field_errors }}
        <fieldset>
          <legend><span class="number">1</span>Certificate Authority info</legend>

            {{ form.ca_certificate_name.errors }}
            <label for={{ form.ca_certificate.id_for_label }}>ROOT Certificate Authority</label>
            {{ form.ca_certificate }}

            {{ form.ca_key.errors }}
            <label for={{ form.ca_key.id_for_label }}>ROOT Authority Key</label>
            {{ form.ca_key }}

        </fieldset>

        <fieldset>
          <legend><span class="number">2</span>Certificate Sign Request</legend>

            {{ form.cert_common_name.errors }}
            <label for={{ form.cert_common_name.id_for_label }}>Common Name (CN)</label>
            {{ form.cert_common_name }}

            {{ form.cert_country.errors }}
            <label for={{ form.cert_country.id_for_label }}>Country (C)</label>
            {{ form.cert_country }}

            {{ form.cert_state.errors }}
            <label for="{{ form.cert_state.id_for_label }}">State (ST)</label>
            {{ form.cert_state }}

            {{ form.cert_city.errors }}
            <label for="{{ form.cert_city.id_for_label }}">City (L)</label>
            {{ form.cert_city }}

            {{ form.cert_organization.errors }}
            <label for="{{ form.cert_organization.id_for_label }}">Organization (O)</label>
            {{ form.cert_organization }}

            {{ form.cert_organizational_unit.errors }}
            <label for="{{ form.cert_organizational_unit.id_for_label }}">Organizational Unit (OU)</label>
            {{ form.cert_organizational_unit }}

            {{ form.cert_days.errors }}
            <label for="{{ form.cert_days.id_for_label }}">Days to Expire</label>
            {{ form.cert_days }}

            {{ form.cert_email.errors }}
            <label for="{{ form.cert_email.id_for_label }}">Email</label>
            {{ form.cert_email }}

            {{ form.alt_names.errors }}
            <label for="{{ form.alt_names.id_for_label }}">Alternatives DNS Names</label>
            {{ form.alt_names }}


        </fieldset>
        <button type="submit">Generate</button>
      </form>
{% endblock %}
